body{
    background-color: rgb(35, 102, 25);
    color: rgb(253, 255, 253);
display: flex;
justify-content: center;
align-items: center;

}
.img01{
    width: 95%;
}
button{
    background-color: darkseagreen;
    
}